<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentRepo</servlet-name>
        <servlet-class>RepoPattern.studentRepo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>Controllers.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>issueRepo</servlet-name>
        <servlet-class>RepoPattern.issueRepo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteIssue</servlet-name>
        <servlet-class>Controllers.deleteIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertIssue</servlet-name>
        <servlet-class>Controllers.insertIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStudent</servlet-name>
        <servlet-class>Controllers.deleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertBook</servlet-name>
        <servlet-class>Controllers.insertBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentRepo</servlet-name>
        <url-pattern>/studentRepo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>issueRepo</servlet-name>
        <url-pattern>/issueRepo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteIssue</servlet-name>
        <url-pattern>/deleteIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertIssue</servlet-name>
        <url-pattern>/insertIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStudent</servlet-name>
        <url-pattern>/deleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertBook</servlet-name>
        <url-pattern>/insertBook</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
